NACOS_SERVER_URL=nacosip:nacosport
NACOS_HOST=nacosip
NACOS_PORT=nacosport
NACOS_NAMESPACE=nacos-namespace
NACOS_GROUP=nacos-group
NACOS_USERNAME=nacos-username
NACOS_PASSWORD=nacos-password
NACOS_DATAID=nacos-data-id
NACOS_SERVICE_NAME=nacos-service-name