## Environment ##
NODE_ENV=development


## Server ##
PORT=3000
HOST=localhost

## Setup PostgreSQL Database Connection
AUTH_SECRET=test123
SALT_SECRET=testsqlt123
DB_USERNAME=username
DB_DATABASE=database_name
DB_PASSWORD=database_password
DB_PORT=5432
DB_HOST=127.0.0.1
DB_DIALECT=postgres

## SWAGGER UI Domain Setting
APP_DOMAIN=localhost:3000

## Setup jet-logger ##
JET_LOGGER_MODE=CONSOLE # enums: ["CONSOLE", "FILE"]
JET_LOGGER_FILEPATH=jet-logger.log
JET_LOGGER_TIMESTAMP=TRUE
JET_LOGGER_FORMAT=LINE
